@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --primary: #fe2c55;
    // màu chủ đạo
}
* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    // kích thước chữ ban đầu của trình duyệt
    line-height: 1.5;
    text-rendering: optimizespeed;
    // text-rendering: optimizespeed: tăng tốc độ tải font chữ
}
